@font-face {
	font-family: 'hydroicons';
	src:url('../hydroicons.eot?-pkuzj');
	src:url('../hydroicons.eot?#iefix-pkuzj') format('embedded-opentype'),
		url('../hydroicons.woff2') format('woff2'),
		url('../hydroicons.woff?-pkuzj') format('woff'),
		url('../hydroicons.ttf?-pkuzj') format('truetype'),
		url('../hydroicons.svg?-pkuzj#hydroicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'hydroicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--hydrogene:before {
	content: "\e600";
}

.icon--close:before {
	content: "\e601";
}

.icon--close-outline:before {
	content: "\e602";
}

.icon--close-filled:before {
	content: "\e603";
}

.icon--navicon:before {
	content: "\e604";
}

.icon--linkedin:before {
	content: "\e605";
}

.icon--telephone:before {
	content: "\e606";
}

.icon--iphone:before {
	content: "\e607";
}

.icon--email:before {
	content: "\e608";
}

.icon--compose:before {
	content: "\e609";
}

.icon--location:before {
	content: "\e60a";
}

.icon--ios-arrow-down:before {
	content: "\e60b";
}

.icon--ios-arrow-left:before {
	content: "\e60c";
}

.icon--ios-arrow-right:before {
	content: "\e60d";
}

.icon--ios-arrow-up:before {
	content: "\e60e";
}

.icon--arrow-thin-down:before {
	content: "\e60f";
}

.icon--arrow-thin-left:before {
	content: "\e610";
}

.icon--arrow-thin-right:before {
	content: "\e611";
}

.icon--arrow-thin-up:before {
	content: "\e612";
}

.icon--facebook:before {
	content: "\e613";
}

.icon--github:before {
	content: "\e614";
}

.icon--behance:before {
	content: "\e615";
}

.icon--pinterest:before {
	content: "\e616";
}

.icon--rss:before {
	content: "\e617";
}

.icon--twitter:before {
	content: "\e618";
}

.icon--wordpress:before {
	content: "\e619";
}

