.niceheading--aboutushero {
  //background-color: $kekeszold;
  // background-image: url('../img/melosasztal.jpg');
}



.teammember {
  position: relative;

  
  background-color: $gray-xxlight;

  @include clearfix();
  &:nth-child(2n) {
    background-color: #fff;
  }
  &:nth-child(3n) {
    background-color: $gray-xlight;
  }

  
}

.teammember__figure {
  margin: 0 -1em;
  padding: 0;

  text-align: center;
  //max-width: 480px;
  @include bp($s2) {
    margin: 0 -1.5em;
  }

  @include bp($s3) {
    position: absolute;
    width: 40%;
    height: 100%;

    img {
      display: none;
    }  

    background-repeat: no-repeat;
    background-size: cover;
    .beke &{
      background-image: url('../img/portre_matyas.jpg');
      background-position:left center;
      right:0;
    }

    .szabo & {
      background-image: url('../img/portre_gabor.jpg');
      background-position:right center;
      left:0;
    }
  }

  @include bp($s5) {
    //width: 50%;
  }

  
}

.teammember__info {
  max-width: 35em;
  margin: 0 auto;
  padding: 3em 0;

  @include bp($s3) {
    font-size: .875em;
    margin:0;

    //float: left;

    width: 60%;
    //max-width: none;
    //margin-left: 40%;
    padding: 5em 0;
    .teammember:nth-child(2n) & {
      //margin-left: 0;
      float:right;
    }
  }
  
  @include bp($s4) {
    font-size: 0.75em;
    padding: 6em 0;
  }
  @include bp($s5) {
    font-size: 0.875em;
    padding: 7em 0;
    // width: 50%;
    // margin-left: 50%;
    // .teammember:nth-child(2n+1) & {
    //   margin-left: 0;
    // }
  }
}


.teammember__name {
  font-family: $sans-serif;
  font-size: 1.75em;
  font-weight: 900;
  line-height: 1;

  margin: 0;

  text-transform: uppercase;
}

.teammember__titulus {
  font-family: $sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  line-height: 1;

  margin: .25em 0 0;

  text-transform: uppercase;

  color: $secondary-color;
  //font-style: italic; 
}

.teammember__desc {
  font-family: $sans-serif;
  font-weight: 300;
  blockquote {
    font-family: $serif;
    //font-weight: bold;
    //text-align: center;
    font-size: 1.333em;
    font-style: italic;

    margin: 0 1em 0 0;
    //margin-right: 0;
  }
}



.teammember__social {
  font-size: 1.5em;

  margin: 0;
  padding: 0;
  li {
    display: inline;

    margin-right: .5em;
    padding: 0;

    list-style-type: none;
    > a {
      text-decoration: none;

      color: $secondary-color;
      &:hover,
      &:focus {
        color: $gray-main;
      }
    }
  }
}


.services {
  @include clearfix();
  color: #fff;
  background-color: $secondary-color; 
  text-align: center;
  padding:0 0 4em;
    border-bottom: 10px solid rgba(#fff,.2);  
  .wrapper {
    //max-width: 45em;
  }
}

.servicegroup {
  @include clearfix();
  margin:0 0 3em 0;
  @include bp($s1) {
    float: left;

    width: 33.333%;
  }

  i{
    font-size: 4em;
    color:rgba(#fff,0.75);
    text-shadow:2px 2px 8px rgba($gray-main,1);
    display: none;

  }
}
.servicegroup__ill {
  max-width: 7em;
  //display: none;

}
.servicegroup__name {
  font-family: $sans-serif;
  font-weight: 900;
  font-size: 1.25em;
  line-height: 1;

  margin-bottom: .5em;

  text-transform: uppercase;
}
.servicelist {
  font-family: $sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 1.125em;
  line-height: 1;
  li {
    margin: 0;
    padding: 0.25em 0;

    list-style-type: none;
  }
}


.process {
  @include clearfix();
  // .wrapper {
  //   max-width: 45em;
  // }
}


.widestoryitem {
  @include clearfix();

  padding:5em 0 3em 0;
  background-color: $gray-xlight;
  @include bp($s2) {
    background-image: linear-gradient(to left, transparent 66.666%, #fff 66.666%);
  }
  @include bp($s5) {
    background-image: linear-gradient(to left, transparent 50%, #fff 50%);
  }

  &:nth-child(2n) {
    background-color: $gray-xxlight;
    
    @include bp($s2) {
      background-image: linear-gradient(to right, transparent 66.666%, #fff 66.666%);
    }
    @include bp($s5) {
      background-image: linear-gradient(to right, transparent 50%, #fff 50%);
    }

  }
  @include bp($s2) {
    padding:4em 0;
  }
  @include bp($s3) {
    padding:5em 0;
  }

  .wrapper {
    //max-width: 50em;

  }

  &.whatwedo {
    padding:4em 0;
  }

}

.widestoryitem__figure {
  text-align: center;
  
  @include bp($s2) {
    width:33.333%;
    float:left;
    .widestoryitem:nth-of-type(2n) &  {
     float:right;
    }
  }
  @include bp($s3) {
    
  }

  @include bp($s4) {
    //width:25%;
  }
  @include bp($s5) {
    width:50%;
  }

  i{
    font-size: 8em;
    line-height: 1;
    color:$secondary-color;
    &:before {
      //line-height: 1;
    }
  }
}
.widestoryitem__textcontent {
  @include clearfix();
  margin-top: 3em;
  @include bp($s2) {
    margin-top: 0;
    width:66.666%;
    float:right;
    padding-left: 1.5em;
    .widestoryitem:nth-of-type(2n) &  {
      float:left;
      padding-left:0;
      padding-right: 1.5em;
    }
  }
  @include bp($s3) {
    padding-left: 2.5em;
    font-size: 0.875em;
    .widestoryitem:nth-of-type(2n) &  {
      padding-left:0;
      padding-right: 2.5em;
    }
  }

  @include bp($s4) {
    //width:75%;
    font-size: 0.75em;
  }
  @include bp($s5) {
    width:50%;
    padding-left: 5em;
    .widestoryitem:nth-of-type(2n) &  {
      padding-left:0;
      padding-right: 5em;
    }
  }
}

.widestoryitem__head {
  @include bp($s2) {
  }
  @include bp($s3) {
  }

  @include bp($s4) {
  }
}
.widestoryitem__subtitle {
  margin:0 0 0.5em;
  font-size: 1.125em;
  line-height: 1;
  font-weight: bold;
  //font-family: $sans-serif;
  //font-weight: 300;
  //text-transform: uppercase;
}
.widestoryitem__title {
  font-size: 2em;
  line-height: 1;
  font-family: $sans-serif;
  //text-transform: uppercase;
  font-weight: 900;
  margin:0 0 0.333em;
  color:$secondary-color;
}

.widestoryitem__icons {
  margin-bottom: 1em;
}

.widestoryitem__thirdicon {
  text-align: center;
  width:33.333%;
  float:left;
  img {
    max-width: 70%;
    //filter:grayscale(1);
  }
  h4 {
    margin-top: 0.333em;
    font-size: 1.25em;
    line-height: 1;
  }
}

.widestoryitem__desc {
  font-family: $sans-serif;
  font-weight: 300;
  

  h5{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.125;
    font-family: $sans-serif;
    font-weight: 900;
    color: $secondary-color;


  }
  h6 {
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.125;
    font-family: $sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    &:first-child {
      margin-top:0;
    }
    + p {
      margin-top: 0;
    }
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }
  }
}


/********** Story item *******/

.storyitem {
  @include clearfix();

  padding:1em 0;
  //background-color: $gray-light;
  // border-top: 10px solid rgba($secondary-color,.2);
  @include clearfix();
  &:nth-child(2n+1) {
  //  background-color: lighten($gray-light,15%);
  }
  @include bp($s2) {
    padding:2em 0;
  }

  .wrapper {
    //max-width: 50em;

  }

  &.whatwedo {
    padding:4em 0;
  }

}

.storyitem__head {
  @include bp($s2) {
    width:33.333%;
    float:left;
    //text-align: right;
    padding-right:1em;
  }
  @include bp($s3) {
    width:50%;
    font-size: 0.875em;
  }

  @include bp($s4) {
    font-size: 0.75em;
  }
}
.storyitem__subtitle {
  margin:0 0 0.5em;
  font-size: 1.125em;
  line-height: 1;
  font-weight: bold;
  //font-family: $sans-serif;
  //font-weight: 300;
  //text-transform: uppercase;
}
.storyitem__title {
  font-size: 2em;
  line-height: 1;
  font-family: $sans-serif;
  //text-transform: uppercase;
  font-weight: 900;
  margin:0 0 1em;
  color:$secondary-color;
}

.storyitem__icons {
  margin-bottom: 1em;
}

.storyitem__thirdicon {
  text-align: center;
  width:33.333%;
  float:left;
  img {
    max-width: 70%;
    //filter:grayscale(1);
  }
  h4 {
    margin-top: 0.333em;
    font-size: 1.25em;
    line-height: 1;
  }
}

.storyitem__desc {
  font-family: $sans-serif;
  font-weight: 300;
  @include bp($s2) {
    width:66.666%;
    float:left;
    padding-left: 1em;
  }
  @include bp($s3) {
    width:50%;
    font-size: 0.875em;
  }

  @include bp($s4) {
    font-size: 0.75em;
  }

  h5{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.125;
    font-family: $sans-serif;
    font-weight: 900;
    color: $secondary-color;


  }
  h6 {
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.125;
    font-family: $sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    &:first-child {
      margin-top:0;
    }
    + p {
      margin-top: 0;
    }
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }
  }
}