.aboutus__hero {
  border-bottom: 10px solid rgba($kek, .5);
  //background-color: $secondary-color;
  background-image: url('../img/noise.png');
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-size: auto, cover;
  //background-attachment: fixed;
  background-image: url('../img/noise.png'), url('../img/hero_csonak.jpg');
}

.niceheading--aboutushero {
  //background-color: $secondary-color;
}



.teammember {
  position: relative;

  background-color: $gray-xxlight;
  background-image:url('../img/noise.png');
  background-position: center center;
  background-repeat: repeat;

  @include clearfix();
  &:nth-child(2n) {
    background-color: #fff;
  }
  &:nth-child(3n) {
    background-color: $gray-xxlight;
  }


}

.teammember__footer {
  margin-top: 2em;
  .readmore {
    font-size: 1.125em;
    color:$secondary-color;
  }
}
.teammember__figure {
  margin: 0 -1em;
  padding: 0;

  text-align: center;
  //max-width: 480px;

  @include bp($s2) {
    margin: 0 -1.5em;
  }
  @include bp($s3) {
    position: absolute;

    width: 40%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    img {
      display: none;
    }
    .beke & {
      right: 0;

      background-image: url('../img/portre_matyas.jpg');
      background-position: left center;
    }
    .szabo & {
      left: 0;

      background-image: url('../img/portre_gabor.jpg');
      background-position: right center;
    }
    .partner & {
      right: 0;

      background-image: url('../img/portre_partner.jpg');
      background-position: left center;
    }
  }
  @include bp($s5) {
    //width: 50%;
  }
}

.teammember__info {
  max-width: 35em;
  margin: 0 auto;
  padding: 3em 0;

  @include bp($s3) {
    font-size: .875em;
    //float: left;

    width: 60%;
    margin: 0;
    //max-width: none;
    //margin-left: 40%;
    padding: 5em 0;
    .teammember:nth-child(2n) & {
      //margin-left: 0;
      float: right;
    }
  }
  @include bp($s4) {
    font-size: .75em;

    padding: 6em 0;
  }
  @include bp($s5) {
    font-size: .875em;

    padding: 7em 0;
    // width: 50%;
    // margin-left: 50%;
    // .teammember:nth-child(2n+1) & {
    //   margin-left: 0;
    // }
  }
}


.teammember__name {
  font-family: $sans-serif;
  font-size: 1.75em;
  font-weight: 900;
  line-height: 1;

  margin: 0;

  text-transform: uppercase;
}

.teammember__titulus {
  font-family: $sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  line-height: 1;

  margin: .25em 0 0;

  text-transform: uppercase;

  color: $secondary-color;
  //font-style: italic; 
}

.teammember__desc {
  font-family: $sans-serif;
  font-weight: 300;
  blockquote {
    font-family: $serif;
    //font-weight: bold;
    //text-align: center;
    font-size: 1.333em;
    font-style: italic;

    margin: 0 1em 0 0;
    //margin-right: 0;
  }
}



.teammember__social {
  font-size: 1.5em;

  margin: 0;
  padding: 0;
  li {
    display: inline;

    margin-right: .5em;
    padding: 0;

    list-style-type: none;
    > a {
      text-decoration: none;

      color: $secondary-color;
      &:hover,
      &:focus {
        color: $gray-main;
      }
    }
  }
}




.process {
  @include clearfix();
  // .wrapper {
  //   max-width: 45em;
  // }
}


.widestoryitem {
  
  background-color: $gray-xxlight;

  background-image:url('../img/noise.png');
  background-repeat: repeat;
    border-bottom: 10px solid rgba(#fff,.2);

  @include clearfix();
  @include bp($s2) {
    //background-image: linear-gradient(to left, transparent 66.666%, $gray-light 66.666%);
  }
  @include bp($s5) {
    //background-image: linear-gradient(to left, transparent 50%, $gray-light 50%);
  }

  &:nth-child(2n) {
    background-color: $gray-xlight;
    
    @include bp($s2) {
      //background-image: linear-gradient(to right, transparent 66.666%, $gray-light 66.666%);
    }
    @include bp($s5) {
      //background-image: linear-gradient(to right, transparent 50%, $gray-light 50%);
    }
    
    .wrapper {
      @include bp($s2) {
        //background-image: linear-gradient(to right, transparent 66.666%, $gray-light 66.666%);
      }
      @include bp($s5) {
        //background-image: linear-gradient(to right, transparent 50%, $gray-light 50%);
      }
    }
  }
  .wrapper {
    padding-top: 3em;
    padding-bottom: 3em;

    @include bp($s2) {
      padding-top: 4em;
      padding-bottom: 4em;
     //background-image: linear-gradient(to left, transparent 66.666%, $gray-light 66.666%);
    }
    @include bp($s3) {
      padding-top: 5em;
      padding-bottom: 5em;
    }
    @include bp($s5) {
      padding-top: 7em;
      padding-bottom: 7em;
      //background-image: linear-gradient(to left, transparent 50%, $gray-light 50%);
    }
  }
}

.widestoryitem__figure {
  text-align: left;
  
  @include bp($s2) {
    float: left;


    width: 33.333%;
    .widestoryitem:nth-of-type(2n) & {
      float: right;
      padding-left: 2em;
      text-align: right;
    }
  }
  @include bp($s3) {
    font-size: .875em;
  }
  @include bp($s4) {
    //font-size: .75em;
  }
  @include bp($s5) {
    font-size: 1em;
    //width: 50%;
  }
  
}

.diszes {

  .number {
    font-family: $sans-serif;
    margin-top: -0.1em;
    font-size: 16em;
    font-weight: 900;
    font-style: italic;
    line-height: 1;

    //padding:5.25em; 
    display: inline-block;

    color: rgba($kek,0.75);
    text-shadow: -0.025em 0.025em 0 rgba($gray-light,0.5),
                  0.025em 0.025em 0 rgba($gray-main,0.75);
    //background-color: $gray-light;

    //font-feature-settings: 'lnum' 1;
    
    &:before {
      //line-height: 1;
    }
  }
  .text {

    font-size: 1em;
    font-weight: bold;
    display: block;
    margin-top: 5em;
    display: none;
  }
}


.diszes2 {
  font-size: 1.25em;
  //text-align: right;
  border-left: .5em solid $secondary-color;
  padding:0 0.5em;
  color:$gray-heading;
  
  .widestoryitem:nth-child(2n) & {
    border-left: none;
    border-right: .5em solid $secondary-color;
    text-align: right;
  }
  .number {
    font-family: $sans-serif;
    margin-top: -0.1em;
    font-size: 1.75em;
    font-weight: 900;
    //font-style: italic;
    line-height: 1;

    //padding:5.25em; 
    display: inline-block;

    //color: $secondary-color;

    //font-feature-settings: 'lnum' 1;
    
    &:before {
      //line-height: 1;
    }
  }
  .text {
    font-family: $serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1;
    //text-transform: uppercase;

    display: block;
    //display: none;
  }
}

.widestoryitem__textcontent {
  margin-top: 3em;

  @include clearfix();
  @include bp($s2) {
    float: right;

    width: 66.666%;
    margin-top: 0;
    padding-left: 1.5em;
    .widestoryitem:nth-of-type(2n) & {
      float: left;

      padding-right: 1.5em;
      padding-left: 0;
    }
  }
  @include bp($s3) {
    font-size: .875em;

    padding-left: 2.5em;
    .widestoryitem:nth-of-type(2n) & {
      padding-right: 2.5em;
      padding-left: 0;
    }
  }
  @include bp($s4) {
    //width:75%;
    //font-size: .75em;
  }
  @include bp($s5) {
    //width: 50%;
    font-size: 1em;
    padding-left: 5em;
    .widestoryitem:nth-of-type(2n) & {
      padding-right: 5em;
      padding-left: 0;
    }
  }
}

.widestoryitem__head {
  @include bp($s2) {
  }
  @include bp($s3) {
  }
  @include bp($s4) {
  }
}
.widestoryitem__subtitle {
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1;

  margin: 0 0 .5em;
  display: none;
}
.widestoryitem__title {
  font-family: $sans-serif;
  font-size: 2em;
  //text-transform: uppercase;
  font-weight: 900;
  line-height: 1;

  margin: 0 0 .333em;

  color: $gray-heading;


}

.widestoryitem__icons {
  margin-bottom: 1em;
}

.widestoryitem__thirdicon {
  float: left;

  width: 33.333%;

  text-align: center;
  img {
    max-width: 70%;
    //filter:grayscale(1);
  }
  h4 {
    font-size: 1.25em;
    line-height: 1;

    margin-top: .333em;
  }
}

.widestoryitem__desc {
  font-family: $sans-serif;
  font-weight: 300;
  h5 {
    font-family: $sans-serif;
    font-size: 1.125em;
    font-weight: 900;
    line-height: 1.125;

    margin-top: 0;
    margin-bottom: .5em;

    color: $secondary-color;
  }
  h6 {
    font-family: $sans-serif;
    font-size: 1.125em;
    font-weight: 900;
    line-height: 1.125;

    margin-bottom: .5em;

    text-transform: uppercase;
    &:first-child {
      margin-top: 0;
    }
    + p {
      margin-top: 0;
    }
  }
  p {
    &:first-of-type {
      margin-top: 0;
    }
  }
}
