html {
	font-family: $serif;
	font-size: 1em;
	line-height: 1.4;
	background-color: #ffffff;
	color: #222;
	overflow-y: scroll;
	min-height: 100%;
	text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	@include bp($s3) {
		font-size: 1.25em;
	}
	@include bp($s4) {
		font-size: 1.5em;
	}
}
body {
	
}
h2, h3 {
	// font-family: $headingfont;
	// font-weight: 700;
	// text-transform: uppercase;
}