/****** Base Colors ******/
$repa: saturate(#bd4932,0%);
$kekeszold: saturate(#195c63,0%);
$mustar: saturate(#db9e37,0%);
$kek: saturate(#3697d6,0%);

/*============= Color Definition =================*/


$tertiary-color: $kekeszold;

$gray-main: #212121;
$textcolor: $gray-main;
$textcolor-light: #454545;

$gray: #686868;
$gray-heading: #484646;
$gray-light: #9a9898;
$gray-xlight:#ececec;
$gray-xxlight:lighten($gray-xlight,6%);
$green: #4ab84a;


$secondary-color: $repa;




/*============= Fonts Definition =================*/

$serif: 'Archer', Georgia, serif;
$sans-serif: 'Museo Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$headingfont: $sans-serif;

/****************** Breakpoints Definition ***********/

$s0: 320px;
$s1: 480px;
$s2: 768px;
$s3: 1024px;
$s4: 1280px;
$s5: 1600px;
$maximum: 960px;
$maxem : 28em;