.contact__hero {
  color: #fff;
  //background-color: black;
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-size: auto, cover;
  background-image: url('../img/noise.png'), url('../img/hero_kapcsolat.jpg');

  border-bottom: 10px solid rgba($secondary-color, .75);
}


.contactblock {
  padding: 3em 0;

  color: #fff;
  background-color: $secondary-color;
  background-repeat: repeat;
  background-position: center center;
  background-image: url('../img/noise.png');

  @include clearfix();
}

.contactblock__inner {
  margin:0 auto;
  @include bp($s1) {
    max-width: 32em;
  }
  @include bp($s2) {
    max-width: none;
  }
  @include bp($s5) {
    font-size: 1.125em;
  }
}

.contact__title {
  font-family: $serif;
  font-size: 1.75em;
  line-height: 1;

  margin: 0;

  color: rgba(#fff,.666);
}
.contactdata {
  padding: 2em 0;

  @include bp($s2) {
    float: left;

    width: 50%;
    padding-right: 1em;
  }
  @include bp($s3) {
    padding-right: 2em;
  }
}


.contactelement {
  margin: 1em 0;
  padding: 1em 0 0;

  border-top: 2px solid rgba(#fff,.125);
  a {
    text-decoration: none;

    color: inherit;
    &:hover,
    &:focus {
      color: #fff;
      .icon {
        color:#fff;
      }
    }
  }
  .icon {
    font-size: 1em;
    line-height: 1.666;

    box-sizing: border-box;
    width: 1.666em;
    height: 1.666em;
    margin-right: .5em;
    padding-top: 1px;
    padding-left: 1px;

    text-align: center;
    color:rgba(#fff,.666);

    border-radius: 50%;
    //line-height: 1.5;
    background-color: rgba(black,.125);
  }
}

.contactelement__title {
  font-family: $sans-serif;
  font-size: 1.333em;
  font-weight: 900;

  margin: 0;

  text-transform: uppercase;

  color: rgba(#fff,.666);
}

.contactelement__data {
  font-family: $sans-serif;
  font-size: .875em;
  font-weight: 300;
  //text-transform: uppercase;

  margin: .333em 0;
  //font-weight: 700;

  color: rgba(#fff,.5);
}

.contactformwrap {
  padding: 2em 0;

  @include bp($s2) {
    float: right;

    width: 50%;
    padding-left: 1em;
  }
  @include bp($s3) {
    padding-left: 2em;
  }
}

.contactform {
  font-family: $sans-serif;

  margin: 0;

  color: #fff;

  @include clearfix();
}






.formitem {
  clear: both;
}


.contacttext {
  font-size: .875em;
  line-height: 1.25;

  color: rgba(#fff,.333);
}

.mapblock {
  @include clearfix();
  //height:50vh;
  //min-height: 75vh;
  position: relative;
  overflow: hidden;
}

#map-canvas {
  height: 300px;
  margin: 0 -1em 0;
  padding: 0;

  @include bp($s2) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 100%;
    margin: 0;
  }
}



.mapblock__content {
  position: relative;

  

  margin: 0 auto;
  padding: 4em 0;

  color: #fff;
  background-color: $gray-main;

  @include clearfix();

  @include bp($s2) {
    opacity: 0;
    visibility: hidden;
    transform:translateY(500px) scale(0.333);
    transition: all .4s ease-in;


  .wrapper {
      padding:0 2em;
    }
    max-width:33em;
    position: relative;
    z-index: 2;

    margin: 4em auto 4em;
    padding: 0 0;

    background-image: linear-gradient(to right, $gray-main 50%, $secondary-color 50% );
    box-shadow: 0 0 10px 0 black;
  }

  .mapinfo__close {
    display: none;
    @include bp($s2) {
      display: inline-block;
      position: absolute;
      right:1em;
      top:1em;
      color:#fff;
    }
  }
  .balfel {
    @include bp($s2) {
      float: left;

      width: 50%;
      padding: 2em 1em 2em 0;
    }
  }
  .jobbfel {
    @include bp($s2) {
      float: right;

      width: 50%;
      padding: 2em 1em 2em 1.5em;

      border-left: 10px solid rgba($gray-main,.333);
    }
  }
  .contact__title {
    //font-size: 1.5em;
  }
  .contactelement {
    @include bp($s2) {
      margin: 0;
      padding: 0;

      border-top: none;
    }
  }
  .contactelement__title {
    //font-size: 1.25em;
    //margin-top: 0;
  }
  .behuz {
    //margin-left: 3.2em;
  }
}


.map-overlay {
  display: none;
  @include bp($s2) {
    display: block;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: transparent;
      background-repeat: repeat;
  background-position: center center;
  background-image: url('../img/noise.png');
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: background-color .4s ease, opacity .4s ease, visibility .4s ease;  
    
    &.is_show {
      opacity: .75;
      visibility: visible;
      background-color: #000;
    }
  }
}

.mapblock__content.is_show {
  opacity: 1;
  visibility: visible;
  transform:translateY(0) scale(1);
}
