.contact__hero {
  color: white;
  background-color: $mustar;
}


.contactblock {
  padding: 3em 0;

  color: white;
  background-color: $gray-main;

  @include clearfix();
}

.contact__title {
  font-family: $serif;
  font-size: 1.75em;
  line-height: 1;

  margin: 0;

  color: rgba(white,.5);
}
.contactdata {
  padding: 2em 0;

  @include bp($s2) {
    float: left;

    width: 50%;
    padding-right: 1em;
  }
  @include bp($s3) {
    padding-right: 2em;
  }
}


.contactelement {
  margin: 1em 0;
  padding: 1em 0 0;

  border-top: 5px solid rgba(white,.125);
  a {
    text-decoration: none;

    color: inherit;
    &:hover,
    &:focus {
      color: white;
    }
  }
  .ion {
    font-size: 1em;
    line-height: 1.666;

    box-sizing: border-box;
    width: 1.666em;
    height: 1.666em;
    margin-right: .5em;
    padding-top: 1px;
    padding-left: 1px;

    text-align: center;
    //color:white;

    border-radius: 50%;
    //line-height: 1.5;
    background-color: rgba(black,.125);
  }
}

.contactelement__title {
  font-family: $sans-serif;
  font-size: 1.333em;
  font-weight: 900;

  margin: 0;

  text-transform: uppercase;

  color: rgba(white,.666);
}

.contactelement__data {
  font-family: $sans-serif;
  font-size: .875em;
  font-weight: 300;
  //text-transform: uppercase;

  margin: .333em 0;
  //font-weight: 700;

  color: rgba(white,.333);
}

.contactformwrap {
  padding: 2em 0;

  @include bp($s2) {
    float: right;

    width: 50%;
    padding-left: 1em;
  }
  @include bp($s3) {
    padding-left: 2em;
  }
}

.contactform {
  font-family: $sans-serif;

  margin: 0;

  color: white;

  @include clearfix();
}






.formitem {
  clear: both;
}


.contacttext {
  font-size: .875em;
  line-height: 1.25;

  color: rgba(white,.333);
}

.mapblock {
  //height:50vh;
  //min-height: 75vh;
  position: relative;
}

#map-canvas {
  height: 300px;
  margin: 1em 0 0;
  padding: 0;

  @include bp($s2) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 100%;
    margin: 0;
  }
}



.mapblock__content {
  position: relative;

  margin: 1em 0;
  padding: 1em;

  color: white;
  background-color: $kek;

  @include clearfix();
  //border-radius: 2px;
  // &:before {
  // 	content:'';
  // 	position: absolute;
  // 	//z-index: 1;
  // 	width:100%;
  // 	height:100%;
  // 	left:-15px;
  // 	top:-15px;
  // 	border-color: rgba(black,0.333);
  // 	border-radius: 2px;	
  // 	border-width: 14px;
  // 	border-style: solid;
  // 	border-bottom:none;
  // 	border-right:none;
  // 	transition:all .2s ease; 
  // }
  @include bp($s2) {
    //width:55%;
    position: relative;
    z-index: 1;

    margin: 4em 0;
    padding: 0 2em;

    background-image: linear-gradient(to right, $kek 50%, $mustar 50% );
    box-shadow: 0 0 10px 0 black;
  }
  .balfel {
    @include bp($s2) {
      float: left;

      width: 50%;
      padding: 2em 1em 2em 0;
    }
  }
  .jobbfel {
    @include bp($s2) {
      float: right;

      width: 50%;
      padding: 2em 1em 2em 1.5em;

      border-left: 10px solid rgba($kek,.333);
    }
  }
  .contact__title {
    //font-size: 1.5em;
  }
  .contactelement {
    @include bp($s2) {
      margin: 0;
      padding: 0;

      border-top: none;
    }
  }
  .contactelement__title {
    //font-size: 1.25em;
    //margin-top: 0;
  }
  .behuz {
    //margin-left: 3.2em;
  }
}
