.connect__cumo {
  @include clearfix();
  background-color: $gray-main;
  background-image: url('../img/noise.png');
  background-repeat: repeat;
  color:#fff;
  font-family: $sans-serif;
  font-weight: 300;
  
  h3 {
    font-weight: 900;
    margin:0;
    font-size: 1.5em;
    color:rgba(#fff,.75);
  }

  .wrapper {

    padding-top: 4em;
    padding-bottom: 2em;

  }
  
  .innerwrap {
    margin:0 auto;
    max-width: 33em;
    @include bp($s2) {
      max-width: none;
    }
  }

  .connect__list {
    li {
      a {
        color:rgba(#fff,.75);
        &:hover, &:focus {
          color:#fff;
        }
      }
    }
    i {
      color:rgba(#fff,.75);
    }
  }
  
  .readmore--light {
    color:rgba(#fff,.75);
    &:hover, &:focus {
      color:#fff;
    }
  }





  .connect__left {
    @include bp($s2) {
      padding-bottom: 2em;
    }
  }
  .connect__right {
    @include bp($s2) {
      padding-bottom: 2em;
    }
  }



}

.connect__cumo--nocolor {
  background-color: #fff;
  color:$gray-main;
  background-image: none;
  border-top: 1px solid $gray-xlight;
  border-bottom: 1px solid $gray-xlight;


  h3 {
    color:$secondary-color;


  }
  .wrapper {
    padding-bottom: 0;
    padding-top: 4em;
  }

  .connect__list {
    li {
      a {
        color:inherit;
        &:hover, &:focus {
          color:$secondary-color;
        }
      }
    }
    i {
      color:$secondary-color;
    }
  }

  .readmore {

  }

  .connect__left {
    @include bp($s2) {
      padding-bottom: 4em;
    }
  }
  .connect__right {
    @include bp($s2) {
      padding-bottom: 4em;
    }
  }

}


.connect__footer {
  @include clearfix();
  clear:both;
  font-size: 0.875em; 
  padding-top: 1.5em;
  border-top:1px solid rgba(#fff,0.125);
  .fbal {
    @include bp($s2) {
      float: left;

      width: 66.666%;
      padding-right: 4em;
    }
  }

  .fjobb {
    @include bp($s2) {
      float: right;

      width: 33.333%;
      padding-left: 1em;
    }
  }
  .doshare {
    margin:0.125em 0 0 0;
    //font-family: $serif;
    font-weight: 400;
    opacity: 0.75;
  }
  .uglybuttons {
      background-color: rgba(#fff,0.5);
      margin-top: 0.5em;
      margin-bottom: 1em;
      @include bp($s2) {
        float:right;
        margin-top: 0;
        margin-bottom: 0;
      }
  }
}
.connect__left {
  padding-bottom: 2em;
  font-size: 0.875em;
  @include bp($s2) {
    float: left;

    width: 66.666%;
    padding-right: 4em;
    padding-bottom: 4em;
  }


}

.connect__right {
  font-size: 0.875em;
  padding-bottom: 2em;
  @include bp($s2) {
    float: right;

    width: 33.333%;
    padding-left: 1em;
    padding-bottom: 4em;

  }
}
.connect__list {
  margin:.25em 0 0 0;
  padding:0;
  font-size: 0.875em;

  li {

    list-style-type: none;
    padding:0 0 0 2em;
    margin:0 0 .5em;
    position: relative;
    a {
      display: inline-block;
      padding-top: .333em;
      text-decoration: none;
      color:inherit;
      border-bottom: 1px solid transparent;
      &:hover, &:focus {
        color: $textcolor-light;
        border-bottom-color: currentColor;
      }
    }
  }



  i {
    position: absolute;
    font-size:1.5em;
    left:0;
    top:.125em;
    display: inline-block;
  }
}


.standardcontact {
  background-color: $secondary-color;
  background-image:url('../img/noise.png');
  background-position: center center;
  background-repeat: repeat;
  border-bottom: 1px solid $gray-xxlight;
  text-align: center;
}


.contactstart {
  @include clearfix();
  padding: 2em 0;
  color: #fff;

  text-align: left;


}


.contactstart__title {
  position: relative;

  font-family: $sans-serif;
  font-size: 1.25em;
  line-height: 1;
  font-weight: 900;

  max-width: $s3;
  margin-top:0;
  margin-bottom: .25em;

  text-align: left;
  text-transform: uppercase;
  
  @include bp($s2) {
    float: left;
    width:75%;
  }

  small {
    font-family: $serif;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    margin:0 0 0.25em 0;

    display: block;

    text-transform: lowercase;
  }


}

.contactstart__action {
  margin-top: 1em;
  @include bp($s2) {
    margin-top: 0.25em;
    float: left;
    width:25%;
    text-align: right;
  }

}
.btn--contactstart {
  font-weight: 900;
  padding:0.75em 1.25em;
  font-size:0.75em;
  text-transform: none;
  background-color: transparent;
  color:$gray-heading;
  border-radius: 2px;
  border : 1px solid $gray-light;

  &:hover, &:focus {
    //background-color: $secondary-color;
    color:$gray-main;
  } 
}


.pagefooter {
  font-family: $sans-serif;
  background-color: #fff;



  color: $gray-heading;
  //border-top: 1px solid $gray-xlight;
  .wrapper {

  }
  a {
    text-decoration: none;
    color: inherit;
  }

  .innerwrap {

    padding: 3em 0 3em;
    @include clearfix();
 
  }

  .jobbfel {
    text-align: center;
  }

  a.szoci {
    font-size:2em;
    display: inline-block;
    margin:1em 0 0.25em 0.25em;
    padding:0.25em 0.25em 0;
    width:1.5em;
    height: 1.5em;
    text-align: center;
    //background-color: $textcolor-light;
    color:$secondary-color;
    //background-color: transparent;
    //display: none;
    line-height: 1;
    i {
      line-height: 1;
    }
    &:hover, &:focus {
      background-color: $secondary-color;
      color:#fff;
    }
  
    @include bp($s2) {
      display: none;
    }

  }
  
}

.pagefooter__brand {
  @include hide-text();
  background-image: url('../img/logo_footer.png');
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 7em;
  font-size: 2em;
  margin:0 auto 1em auto;
  display: block;
  text-decoration: none;
}


.pagefooter__helper {
  font-size: .5em;
  font-weight: 500;

  margin: 0;

}



.pagefooter--dark {
  //border-top: 10px solid rgba(#000,.2);
  background-color: $gray-main;
  background-image:url('../img/noise.png');
  background-position: center center;
  background-repeat: repeat;
  .page-template-template-aboutus & {
    background-color: $kek;   
  }
  color:rgba(#fff,.75);
  .pagefooter__brand {
    background-image: url('../img/logo_footer_white.png');
  }

  a.szoci {
    //background-color: rgba(#fff,.125);
    color: rgba(#fff,.75);
    &:hover, &:focus {
      background-color: rgba(#000,.2);
      //background-color: rgba(#fff,.333);
      //color:#fff;
    }
  }


}




