.pagefooter {
  font-family: $sans-serif;

  padding: 2em 0;

  color: rgba(black,.75);
  border-top: 1px solid rgba(#000,.125);
  a {
    text-decoration: none;

    color: rgba($gray-main,.75);
  }
  .balfel {
    @include bp($s2) {
      float: left;

      max-width: 25%;
    }
  }
  .jobbfel {
    @include bp($s2) {
      float: right;

      width: 75%;

      text-align: right;
    }
  }
}

.pagefooter__brand {
  font-family: $sans-serif;
  font-weight: 700;

  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;
}

.pagefooter__slogan {
  font-size: .666em;
  font-weight: 700;
  line-height: 1;

  margin: 0;
}

.pagefooter__helper {
  font-size: .666em;
  //line-height: 1;
  //text-transform: uppercase;
  font-weight: 700;

  margin: 0;
}
