.pagefooter {
	//background-color: black;
	//color:white;
	font-family: $sans-serif;
	padding:2em 0;
	.balfel {
		@include bp($s2) {
			max-width:25%;
			float:left;
		}
	}

	.jobbfel {
		@include bp($s2){
			width: 75%;
			float:right;
			text-align: right;
		}
	}
}

.pagefooter__brand {
	display: inline-block;
	color:rgba(black,0.75);
	font-family: $sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}

.pagefooter__slogan {
	font-size: 0.666em;
	line-height: 1;
	font-weight: 700;
	margin:0;
	color:rgba(black,0.75);
}