.formitem {
  margin: .75em 0;

  &.formitem--actions {
    display: inline-block;
    background-color: rgba(#000,.125);
    border-radius: 2px;
    margin-top:1.25em;
    margin-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    .btn {
      margin:-.5em 0 0 -.5em;
    }
  }
}



label {
  display: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  font-family: $sans-serif;
  font-size: 0.875em;
  font-weight:300;
  line-height: 1;

  width: 100%;
  padding: .75em .875em .75em;

  transition: background-color .4s ease;

  color: rgba(white,.5);
  border: none;
  border: 1px solid rgba(white,0);
  border-radius: 2px;
  outline: none;
  background-color: rgba(#fff,.05);

  -webkit-appearance: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  &:focus {
    color: rgba(white,.666);
    background-color: rgba(white,.15);
    &::-webkit-input-placeholder {
      visibility: hidden;

      opacity: 0;
      color: transparent;
    }
    &:-moz-placeholder {
      visibility: hidden;

      opacity: 0;
      color: transparent;
    }
    &::-moz-placeholder {
      visibility: hidden;

      opacity: 0;
      color: transparent;
    }
    &:-ms-input-placeholder {
      visibility: hidden;

      opacity: 0;
      color: transparent;
    }
  }
}

textarea {
  min-height: 9em;
}

::-webkit-input-placeholder {
  font-family: $sans-serif;
  font-size: .875em;
  line-height: 1;
  padding-top: .25em;

  //padding-top: .25em;

  text-transform: uppercase;

  color: rgba(white,.5);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

:-moz-placeholder {
  font-family: $sans-serif;
  font-size: .875em;
  line-height: 1;
  padding-top: .25em;

  text-transform: uppercase;
  /* Firefox 18- */

  color: rgba(white,.5);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::-moz-placeholder {
  font-family: $sans-serif;
  font-size: .875em;
  line-height: 1;
  padding-top: .25em;

  text-transform: uppercase;
  /* Firefox 19+ */

  color: rgba(white,.5);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

:-ms-input-placeholder {
  font-family: $sans-serif;
  font-size: .875em;
  line-height: 1;
  padding-top: .25em;

  text-transform: uppercase;

  color: rgba(white,.5);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


.btn {
  position: relative;
  font-family: $headingfont;
  font-size: 1.25em;
  font-weight: 900;
  line-height: 1.125;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;

  padding: .75em 1em;

  transition: background-color .2s ease;
  text-align: center;
  text-decoration: none;
    -webkit-appearance: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.btn--pseudo {


  


  //text-transform: uppercase;

  color: rgba(#fff,.75);
  border: none;
  border-radius: 2px;
  background: none;
  background-color: rgba(white,.333);


  &:before {
    position: absolute;
    //z-index: -1;
    top: 9px;
    left: 9px;

    width: 100%;
    height: 100%;

    content: '';
    transition: all .2s ease;

    border-width: 8px;
    border-style: solid;
    border-color: rgba(white,.125);
    border-top: none;
    border-left: none;
    border-radius: 2px;
  }
  &:hover,
  &:focus {
    background-color: rgba(black,.125);
    color: rgba(#fff,1);
    //transform:translate(9px,9px);
    &:before {
      border-color: rgba(white,.125);
    }
  }
}


.btn--dark {


  


  //text-transform: uppercase;
  position: relative;
  color: rgba(#fff,.5);
  border: none;
  border-radius: 2px;
  background: none;
  background-color: lighten($secondary-color,5%);
  font-size: 1em;
  border:2px solid $secondary-color;
  border-radius: 4px;
  text-transform: none;


  &:after {
    display: none;
  }
  &:hover,
  &:focus {
    background-color: lighten($secondary-color,8%);
    color: rgba(#fff,1);
    //transform:translate(9px,9px);
  }
}

.btn--opaque {
  font-size: 1em;
  background-color: rgba(#000,0.333);
  background-clip: padding-box;
  border:1px solid rgba(#fff,0.333);
  //color:#fff;
  line-height: 1.75;
  margin-top: 0.666em;
  &:hover,&:focus {
    background-color: rgba(#000,0.5);
    border:1px solid rgba(#fff,0.5);
  }
}

.btn--sima {
  font-size: 1em;
  margin-top: 1em;
  padding:0 0;
  text-transform: none;
  //font-size:1em;
  color:$gray-heading;
  border-bottom: 2px solid transparent;
  &:hover,&:focus {
    color: $secondary-color;
    border-bottom: 2px solid currentColor;
  }

}


