.banner {
  transition: all .4s ease;
  color:$gray-main;

  .wrapper {
    position: relative;
  }

  .single-reference &, .page-template-template-contact &, .page-template-template-aboutus & {
    color:rgba(#fff,.75);
  }

  @include bp($s2) {

    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:8em;
    

    z-index: 3;
    overflow: hidden;


    .wrapper {
      height:8em;

    }




    &.scrolled {
      height:4em;
      background-color: rgba(#fff,0.95);
      background-image:url('../img/noise.png');
      background-repeat: repeat;
      .single-reference & {
        background-color: rgba(#000,0.95);
      }

      .page-template-template-contact & {
        background-color: rgba($secondary-color,0.95);
      }
      .page-template-template-aboutus & {
        background-color: rgba($gray-main,0.95); 
      }

      top:-3.5em;

      &:hover, &.ison {
        top:0;  
      }

    }

  }

}
.banner__brand {

  font-size: 1em;
  line-height: 1;

  margin:0;

  position: absolute;
  z-index: 10;
  top: 1em;
  left: 1em;
  width:1.666em;
  height: 3em;

  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;

  color: inherit;

  @include bp($s2) {
    position: static;
    float:left;
    width:1.5em;
    height:2.75em;
    margin-top: 2.25em;

    transition: all .4s ease;
    .scrolled & {
      margin-top: 0.666em;
      height:2.5em;
      width: 1.333em;
    }
  }
  &:hover, &:focus {
    
  }

  i { 
    font-size: 3em;
    margin-left: -.25em;   
    @include bp($s2) {
      font-size: 2.75em;
      margin-left: -.25em;
    }
  }
}


.banner__pagetitle {
  position: absolute;
  z-index: 10;
  left:2.5em;
  top:1.666em;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 1;

  font-family: $sans-serif;
  font-weight: 300;
  color:inherit;
  
  max-width: 6em;
  overflow: hidden;
  white-space: nowrap;
  transition: all .4s ease;

  
  @include bp($s2) {
    position: static;
    float:left;
    font-size: 1em;
    margin-left: .5em;
    margin-top: 3.3em;
    .scrolled & {
      margin-top: 1.65em;
      //margin-left: 0.4em;
      font-size: 1em;
    }
  }
  

  .home &, .page-template-default & {
    @include hide-text();
    background-image: url('../img/logo_text_black.png');
    background-size: auto 85%;
    background-position: left center;
    background-repeat: no-repeat;
    &.banner__pagetitle--white {
      filter: invert(1);
      opacity:0.75;
    }

  }

}

.banner__pagetitle--white {
  //color:rgba(#fff,0.75);
}

.hero {
  padding: 12em 0 4em;

  color: #fff;
  background-color: $gray-main;
  border-bottom: 10px solid rgba(#fff,.2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.hero--inverse {
  color: $gray-main;
  background-color: #fff;
  //border-bottom: 10px solid rgba(#000,.1);
  .hero__title {
    opacity:1;
    //color:$gray-light;
  }

  .hero__disclaimer {
  }
}



.topmenubg {
  //background-color: $secondary-color;
  height:5em;
  //border-bottom: 10px solid rgba(#fff,.2);
          background-image:url('../img/noise.png');
  background-repeat: repeat;
  @include bp($s2) {
    height:6em;
  }


  .single-reference & {
        background-color: $gray-xlight;
  }
}
/******* Video *********/


.pageheader {
  overflow: hidden;
}

.fullvideo {
  position: absolute;
  //height:100%;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;

  filter: grayscale(1) brightness(.3);
}
.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url('../img/grid.png');
  background-repeat: repeat;
}
/******* End of Video *********/






.hero__textblock {
  @include clearfix();
  @include bp($s2) {
    width: 33em;
  }

  @include bp($s5) {
    font-size: 1.125em;
  }
}

.hero__title {
  //font-family: $sans-serif;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1;

  margin: 0 0 .25em;

  //color: rgba(white,.75);
  // text-transform: uppercase;

  opacity: .75;
  @include bp($s1) {
    font-size: 2.125em;
  }
}

.hero__subtitle {
  font-family: $headingfont;
  font-size: 2.25em;
  font-weight: 900;
  line-height: 1;

  margin: 0 0;

  text-transform: uppercase;

  @include bp($s1) {
    font-size: 3.25em;
  }
}

.hero__disclaimer {

  font-size: 1.125em;

  margin-top: .5em;
  //text-align: center;
  strong {
    font-family: $sans-serif;
    font-weight: 900;

    text-transform: uppercase;
    //color: rgba(white,.75);

    opacity: .75;
  }
  a {
    text-decoration: none;
    font-family: $sans-serif;
    font-weight: 900;
    font-size: 0.875em;


    color: rgba(#fff,0.75);
    border-bottom: 2px solid transparent;
    &:hover,
    &:focus {
      color:#fff;
      border-bottom-color: currentColor;
    }
  }
}



.pageheader {
  position: relative;

  text-align: center;

  color: #fff;

  background-color: $gray-main;
}

.pageheader__content {
  position: relative;


  padding: 4em 0 4em;
}

.pageheader__title {
  font-family: $sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1.25;

  display: inline-block;

  margin: .25em 0 0;
  padding: .125em 0;

  text-transform: uppercase;


}
.pageheader__subtitle {
  font-family: $serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.25;
  border-bottom: 1px solid rgba(#fff,.333);

  margin: 0 0;

}


.pageheader__intro {
  font-family: $sans-serif;

  display: none;
}
