.niceheading--homehero {
  background-image: url('../img/melosasztal_light.jpg');
  border-bottom: 10px solid rgba(#fff,0.2);
  //background-color: #fff;

  .niceheading__title {
    small {
      font-size: 50%;
    }
    font-size: 3.5em;
    padding-left: 0;
    //color:$gray-light;
    &:before {
      display: none;

    }
    @include bp($s2) {
      font-size: 5em;
      margin-top: 1.25em;
    }
    @include bp($s3) {
      font-size: 5em;
      margin-top: 0.25em;
    }
  }
}
.home__hero
{
  background-color: $secondary-color;
  //background-image: url('../img/hero_home.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__textblock
{
  @include clearfix();
  @include bp($s2)
  {
    float: left;

    width: 31em;
  }
}

.hero__title
{
  //font-family: $headingfont;
  font-size: 2.125em;
  font-weight: bold;
  line-height: 1;

  margin: 0 0 0.25em;

  //color: rgba(white,.75);
  // text-transform: uppercase;
  opacity: 0.75;
}

.hero__subtitle
{
  font-family: $headingfont;
  font-size: 3.25em;
  line-height: 1;
  font-weight: 900;

  margin: 0 0;

  text-transform: uppercase;

  span {
  	display: block;
  	font-size: 1.75em;
  	margin-top: -0.1em;
  }

  &.small {
		font-size:3.5em; 	
	}
}

.hero__disclaimer
{
  font-size: 1.125em;

  margin-top: .5em;
  //text-align: center;
  strong
  {
    font-family: $sans-serif;
    font-weight: 900;

    text-transform: uppercase;

    //color: rgba(white,.75);
    opacity: 0.75; 
  }
  a {
  	color: inherit;
  	text-decoration: none;
  	border-bottom: 1px solid currentColor;
    &:hover, &:focus {
      border-bottom-color:transparent;
    }
  }
}


/********** Story item *******/

.storyitem {
  @include clearfix();

  padding:1em 0;
  //background-color: $gray-light;
  // border-top: 10px solid rgba($secondary-color,.2);
  @include clearfix();
  &:nth-child(2n+1) {
  //  background-color: lighten($gray-light,15%);
  }
  @include bp($s2) {
    padding:2em 0;
  }

  .wrapper {
    //max-width: 50em;

  }

  &.whatwedo {
    padding:4em 0 2em;

  }

}

.storyitem__head {
  @include bp($s2) {
    width:33.333%;
    float:left;
    //text-align: right;
    padding-right:1em;
  }
  @include bp($s3) {
    width:50%;
    font-size: 0.875em;
  }

  @include bp($s4) {
    font-size: 0.75em;
  }
}
.storyitem__subtitle {
  margin:0 0 0.5em;
  font-size: 1.125em;
  line-height: 1;
  font-weight: bold;
  //font-family: $sans-serif;
  //font-weight: 300;
  //text-transform: uppercase;
}
.storyitem__title {
  font-size: 1.875em;
  line-height: 1;
  font-family: $sans-serif;
  //text-transform: uppercase;
  font-weight: 900;
  margin:0 0 1em;
  color:$secondary-color;
}

.storyitem__icons {
  margin-bottom: 1em;
}

.storyitem__thirdicon {
  text-align: center;
  width:33.333%;
  float:left;
  img {
    max-width: 70%;
    //filter:grayscale(1);
  }
  h4 {
    margin-top: 0.333em;
    font-size: 1.25em;
    line-height: 1;
  }
}

.storyitem__desc {
  font-family: $sans-serif;
  font-weight: 300;
  @include bp($s2) {
    width:66.666%;
    float:left;
    padding-left: 1em;
  }
  @include bp($s3) {
    width:50%;
    font-size: 0.875em;
  }

  @include bp($s4) {
    font-size: 0.75em;
  }

  h5{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.125;
    font-family: $sans-serif;
    font-weight: 900;
    color: $secondary-color;
    span {
      background-color: $secondary-color;
      color:#fff;
      padding:0 0.25em 0 0.333em;
    }


  }
  h6 {
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.125;
    font-family: $sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    &:first-child {
      margin-top:0;
    }
    span {
      background-color: $secondary-color;
      color:#fff;
      padding:0 0.25em 0 0.333em;
    }
    + p {
      margin-top: 0;
    }
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }
  }

}

.whatwedo {
  background-color: $gray-xlight;
}
.allwedo {
  padding: 2em 0 2em;
  background-color: #fff;
}





.services {
  @include clearfix();
  color: #fff;
  background-color: $secondary-color; 
  text-align: center;
  padding:0 0 4em;
    border-bottom: 10px solid rgba(#fff,.2);  
  .wrapper {
    //max-width: 45em;
  }
}

.servicegroup {
  @include clearfix();
  margin:2em auto 2em auto;
  max-width: 35em;
  font-size: 0.875em;
  @include bp($s2) {
    max-width:none;
    float: left;
    width: 48%;
    font-size: 0.875em;
    margin-right: 4%;
    &:nth-child(2) {
      margin-right: 0;
    }
  }
  @include bp($s3) {
    font-size: 0.75em;
    width: 49%;
    margin-right: 2%;
  }
  @include bp($s4) {
    font-size: 0.666em;
  }


  i{
    font-size: 4em;
    color:rgba(#fff,0.75);
    text-shadow:2px 2px 8px rgba($gray-main,1);
    display: none;

  }
}
.servicegroup__ill {
  max-width: 5em;
  display: none;
  margin:0 auto;
  @include bp($s1) {
    //float:left;
    max-width: 40px;
  }
}
.servicegroup__name {
  position: relative;
  font-family: $sans-serif;
  font-weight: 900;
  font-size: 2em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: .666em;
  color:$secondary-color;
  //text-transform: uppercase;
  // padding-top: 0.25em;
  // border-top: 10px solid $secondary-color;

  @include bp($s1) {
    //float:left;
    //width: calc(100% - 70px);
    //padding-left: 0.25em;
  }

  span {
    background-color: $secondary-color;
    color:#fff;
    padding:0 0.25em 0 0.333em;
    //position: absolute;
    //left:0;
    display: none;
  }
}
.servicelist {
  font-family: $sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0 0 0 0;
  font-size: 1.125em;
  line-height: 1;
  li {
    position: relative;
    margin: 0;
    padding: 0.25em 0 0.25em 0.75em;

    list-style-type: none;
    &:before {
      position: absolute;
      content:'';
      width:0.333em;
      height: 0.333em;
      background-color: $secondary-color;
      left:0;
      top:0.5em;

    }
    
    @include bp($s1){
    float:left;
    width:49%;
    margin-right: 2%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }




  }
}
