.wrapper {
  margin: 0 auto;
  padding: 0 1em;

  @include clearfix();
  //background-color: gray;
}

.wrapper--wide {
  max-width: 60em;
}

.wrapper--normal {
  max-width: 34em;

  @include bp($s2) {
    max-width: 45em;
  }
  @include bp($s3) {
    max-width: 42em;
  }
  @include bp($s4) {
    max-width: 36em;
  }
}

.wrapper--narrow {
  max-width: 32em;
}



.page__content {
  padding: 2em 0;
}

.darkblock {
  color: white;
  background-color: $gray-main;
}

.whiteblock,
.darkblock {
  padding: 4em 0;

  text-align: center;
}

.whiteblock__title,
.darkblock__title {
  font-family: $sans-serif;
  font-size: 2em;
  font-weight: 900;

  display: inline-block;

  margin-bottom: .5em;
  padding-bottom: .125em;

  text-align: center;
  text-transform: uppercase;

  border-bottom: 10px solid $secondary-color;
  small {
    font-family: $serif;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;

    display: block;

    text-transform: lowercase;
  }
}

.whiteblock__disclaimer,
.darkblock__disclaimer {
  font-family: $sans-serif;
  font-size: 1.25em;
  font-weight: 300;

  margin-top: 0;

  text-align: center;
  strong {
    font-weight: 900;
    text-transform: uppercase;
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
    visibility: hidden;
  }
  > .active {
    display: block;
    visibility: visible;
  }
}
