.wrapper {
	@include clearfix();
	margin:0 auto;
	padding:0 1em;
	//background-color: gray;
}

	.wrapper--wide {
		max-width: 60em;
	}

	.wrapper--normal {
		max-width: 34em;
		@include bp($s2) {
			max-width: 45em;
		}
		@include bp($s3) {
			max-width: 42em;
		}
		@include bp($s4) {
			max-width: 36em;
		}
	}

	.wrapper--narrow {
		max-width: 32em;
	}



.page__content {
	padding:2em 0;
}

.whiteblock {
	padding:4em 0;
	text-align: center;
}

.whiteblock--title {
	text-align: center;
	display: block;
	font-size: 2em;
	font-family: $sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	small {
		display: block;
		font-family: $serif;
		font-weight: 700;
		font-size: 0.75em;
		line-height: 1;
		text-transform: lowercase;

	}
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
    visibility: hidden;
  }
  > .active {
    display: block;
    visibility: visible;
  }
}
