@mixin bp($brkp) {
  @media only screen and (min-width: $brkp) { @content; }
}

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
// --------------------------------------------------

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height:auto;
}
#map-canvas img {
  max-width: inherit;
}

figure {
  margin:0;
}

.vertalignwrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wp-caption {
  width:auto !important;
}