.nav-toggle {
	position: absolute;
	right:1em;
	top:1em;
	z-index: 10;
	display: inline-block;
	cursor: pointer;
	font-size: 1.5em;
	list-height:1;
	color:rgba(white,0.75);
	@include bp($s3) {
		display: none;
	}
	span {
		display: none;
	}

	&:hover, &:focus {
		color:rgba(white,1);
		i {
			&:before, &:after {
				font-family: "SSGlyphish_filled";
			}
		}
	}
}

input[type="checkbox"]#nav-toggle {
	& + .nav-toggle i {
		&:before {
			content:'\EE06';
		}

	}
	&:checked + .nav-toggle i {
		&:before {
			content:'\1F3C3';
		}
	}
}

input[type="checkbox"]#nav-toggle {
	position: absolute;
	top: -9999px;
	left: -9999px;
	display: none;
	visibility: hidden;
	opacity: 0;

  &:checked + .nav-toggle + .navigation--main {
		visibility:visible;
		opacity:1;

		.nav--main {
			top: 50%;
			transform: translateY(-50%);
		}
		@include bp($s3) {
			visibility:visible;
			opacity:1;

			.nav--main {
				top: 0;
				transform: translateY(0);
			}
		}
	}
}


.navigation--main { //nav

	padding:0 0;
	background-color: rgba($gray-main,1);
	min-height: 100vh;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 9;
	overflow: hidden;

	transition: all .4s ease;

	visibility: hidden;
	opacity: 0;
	@include bp($s3) {
		visibility: visible;
		opacity: 1
	}

	@include bp($s3) {
		min-height: 3.666em;
		height:auto;
		background-color: rgba(white,0);
		border-bottom: 1px solid rgba(white,0.125);
		overflow: visible;


		.scrolled & {
			background-color: rgba(white,0.9);
			border-bottom: 1px solid rgba(white,1);
			min-height: 2.666em;
		}
	}


}

.nav--main { //ul
	margin:0 auto;
	padding:0 1em;
	width:100%;
	transition: all .4s ease;
	position: absolute;
  
  top: 50%;
  transform: translateY(100%);
	@include bp($s3) {
		top:0;
		transform: translateY(0);
	}

	@include bp($s3) {
		text-align: right;
		top:1em;
		.scrolled & {
			top:0;
		}

	}

	li {
		list-style-type: none;
		margin:0;
		padding:0;
		text-align: right;
		@include bp($s3) {
			display: inline-block;
		}

		> a {
			display: block;
			border-bottom:0.2em solid rgba(white,0.75);
			padding:0.75em 0 0.125em 0;
			font-size: 2em;
			line-height: 1;
			font-family: $sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration:none;
			color:rgba(white,0.875);
			transition: all .4s ease;

			&:hover, &:focus {
				text-decoration:none;
				color:rgba(white,1);
				border-color: rgba(white,1);
			}

			

			@include bp($s3) {
				display: inline-block;
				font-size: 0.666em;
				border-bottom:1px solid rgba(white,0);
				margin:0 0 0 1.5em;
				padding:1.666em 0 1.25em 0;
				//background-color: red;
				&:hover, &:focus {
					
					border-color: rgba(white,0.333);
				}
				
				.scrolled & {
					color:$gray-main;

					&:hover, &:focus {
						border-color: transparent;
						color:rgba(black,1)
					}
				}
			}

		}

		&.contactstart > a {
			background-color: rgba(black,0.666);
			//color:rgba(black,0.5);
			border:1px solid rgba(black,0.333);
			border-radius:2px;
			padding:0.666em 0.5em 0.5em;
			&:hover, &:focus {
				border-color: rgba(black,1);
				background-color: rgba(black,1);
				//color: black;
			}
			.scrolled & {
				color:white;
			}

		}
	}


}