.refarchive__hero {
  background-color: #7b1fa2;
}
.refrow {
  position: relative;

  overflow: hidden;

  color: white;
  border-top: 10px solid rgba(255,255,255,.2);
  //border-bottom:1.5vw solid white;
  background-color: rgba(37, 37, 37, 1);

  @include clearfix();
  .wrapper {
    position: relative;

    @include bp($s2) {
      //height: 66.666vh;
      min-height: 32em;
      max-height: 32em;
    }
    @include bp($s3) {
      //height: 100vh;
      //max-height: 100vh;
      //min-height: 30em;
      //max-height: 30em;
    }
  }
}

.refrow__figure {
  position: relative;

  overflow: hidden;

  margin: 2em auto 1em;

  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto 100%;

  backface-visibility: hidden;
  //margin-top: -2em;
  //z-index: -1;
  @include bp($s2) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 70%;
    height: 100%;
    margin: 0;

    transform: translate(0, -50%);
    //border-left: 1.5vw solid white;
    //display: none;
    .reference:nth-of-type(2n) & {
      left: -20%;

      background-position: right bottom;
      //border-right: 1.5vw solid white;
      //border-left: none;
    }
    a img {
      visibility: hidden;
    }
  }
  @include bp($s4) {
    //width:66.666%;
  }
  a {
    position: relative;

    display: block;
    overflow: hidden;

    padding: 0 0 0;

    text-align: center;

    backface-visibility: hidden;
    @include bp($s2) {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: '';
      transition: all .6s ease-in-out;

      opacity: 0;
      background-color: rgba(37, 37, 37, .333);
    }
    &:hover {
      &:after {
        opacity: 1;
      }
      img {
        //transform: scale(1.05);
      }
    }
    img {
      width: auto;
      max-width: 18em;
      //max-width: 90%;
      max-height: 15em;

      transition: all .6s ease-in-out;
      //width:100%;
      //display: block;
    }
  }
}


.refrow__header {
  position: relative;
  z-index: 1;

  padding: 0 0 3em;

  text-align: left;

  @include clearfix();
  @include bp($s2) {
    //font-size: 1.125em;		
  }
  @include bp($s2) {
    position: absolute;
    top: 50%;
    left: 0;

    width: 60%;
    padding: 3em 2em 3em 2em;

    transform: translate(0, -50%);
    .reference:nth-of-type(2n) & {
      left: 40%;

      padding: 3em 2em 3em 2em;
    }
  }
  @include bp($s4) {
    padding: 4em 3em 4em 3em;
    .reference:nth-of-type(2n) & {
      padding: 4em 3em 4em 3em;
    }
  }
  @include bp($s5) {
  }
  .innerwrap {
    max-width: 32em;
    margin: 0 auto;

    @include bp($s3) {
      max-width: none;
    }
  }
}

.refrow__title {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1;

  position: relative;

  margin: 0 0 .125em;

  color: rgba(255,255,255,.75);
  a {
    text-decoration: none;

    color: inherit;
    &:hover,
    &:focus {
      //color:gray;
      //text-decoration: underline;
      color: rgba(255,255,255,1);
    }
  }
}

.refrow__subtitle {
  font-family: $headingfont;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;

  margin: 0 0 0 0;

  text-transform: uppercase;
  // &:after {
  //   display: block;
  //   width: 2em;
  //   height: 2px;
  //   margin: .75em auto 0 0	;
  //   content: '';
  //   background-color: rgba(255,255,255,.75);
  // }
  a {
    text-decoration: none;

    color: inherit;
    //color: rgba(255,255,255,0.75);
    &:hover,
    &:focus {
      //color:gray;
      //text-decoration: underline;
      color: rgba(255,255,255,0.75);
    }
  }
}

.refrow__tags {
  font-size: .875em;

  max-width: $s1;
  margin: 0 0;

  color: rgba(255,255,255,.75);
  ul {
    margin: 0;
    padding: 0;
    li {
      font-style: italic;
      //font-family: $sans-serif;
      //text-transform: uppercase;
      //font-weight: 700;	

      display: inline;

      list-style-type: none;
      &:before {
        content: ' × ';
        //font-style: normal;
      }
      &:first-of-type {
        &:before {
          content: '';
        }
      }
    }
  }
}

.refrow__summary {
  margin: 1em 0;
  //text-align: left;
  &:before {
    display: block;

    width: .875em;
    height: .875em;
    margin: .75em auto .875em 0;

    content: '';

    background-color: rgba(255,255,255,.333);
  }
}
.refrow__actions {
  margin: 1.5em 0;
  //text-align: left;
  .btn--pseudo {
    font-size: .75em;

    margin: .25em 1.5em 0 0;
  }
}



.refrow__tags__title {
  font-size: 1em;

  position: relative;

  margin: .75em 0;
  &:after {
    display: block;

    width: 2em;
    height: 1px;
    margin: .75em auto 0 auto;

    content: '';

    background-color: black;
  }
}


/************** Reference Single Style Definitions ****************/

.refsingle {
  .refrow {
    border-top: none;
    //padding-top: 2em;
    .wrapper {
      @include bp($s2) {
        //height: 66.666vh;
        min-height: 35em;
        max-height: 35em;
      }
      @include bp($s4) {
        height: 100vh;
        //max-height: 100vh;
        min-height: 40em;
        max-height: 45em;
      }
    }
  }
  .refrow__header {
    @include bp($s3) {
      //width:66%;
      // position: static;
      // top: 0;
      // transform: none;
    }
  }
  .refrow__figure {
    @include bp($s3) {
      //width:70%;
      //left:60%;
      //position: fixed;
    }
  }

  .refrow__title {
    font-size: 1.666em;
  }
  .refrow__subtitle {
    font-size: 3em;
  }
  .refrow__summary {
    font-size: 1em;
  }
}
.refsingle__header {
  @include clearfix();
  //text-align: left;
  //margin:0 0;
  //padding:4em 0 0;
  //color:#fff;
}

.refsingle__infoblock {
  color: white;
  border-top: 10px solid rgba(white, .333);
  background-color: rgba($gray-main,1);
  .wrapper {
    position: relative;
  }
  .inner {
    max-width: 32em;
    margin: 0 auto;

    @include bp($s2) {
      max-width: none;
      padding: 0 1em;
    }
    @include bp($s4) {
      padding: 0 2em;
    }
  }
  .btn {
    font-size: .875em;
  }
}

.infoblock__detailspanel {
  padding: 2em 0;

  @include bp($s2) {
    float: left;

    width: 66.666%;
    padding: 2em 1em 2.5em 0;
  }
}


.infoblock__textpanel {
  padding: 1.5em 0;

  text-align: left;

  @include bp($s2) {
    float: left;

    width: 33.333%;
    padding: 2em 0 2.5em 1em;
  }
  .blocktitle {
    font-size: 1.5em;

    margin-top: .333em;
    margin-bottom: .5em;
  }
  .uglybuttons {
    margin: 0 0 0 -15px;
  }
}

.infoblock__harmadik {
  padding: 2em 0;

  @include bp($s3) {
    float: left;

    width: 33.333%;
    padding: 2em 0;
  }
}
.infopanel__subtitle {
  font-family: $serif;
  font-size: 1.5em;

  margin: 0;

  color: rgba(255,255,255,.333);
}

.infopanel__taskelements {
  font-family: $sans-serif;
  font-size: .875em;
  //text-transform: uppercase;
  font-weight: 700;

  margin: .5em 0 1.5em;
  padding: 0;
  //font-style: italic;

  color: rgba(255,255,255,.75);
  li {
    display: inline-block;

    margin: .125em .75em .125em 0;

    list-style-type: none;
    .ion {
      font-size: 1em;
      line-height: 1.666;

      box-sizing: border-box;
      width: 1.666em;
      height: 1.666em;
      margin-right: .25em;
      padding-top: 1px;
      padding-left: 1px;

      text-align: center;

      color: rgba(white,.75);
      border-radius: 50%;
      //line-height: 1.5;
      background-color: rgba(black,.125);
    }
  }
}

.refsingle__quoteblock {
  margin: 2em 0 0;
  padding: 3em 0 4em;

  color: white;
  background-color: $secondary-color;
}


.refsingle__quote {
  font-family: $sans-serif;
  font-size: 1.5em;
  line-height: 1.25;

  position: relative;

  margin: 0;
  padding: 0;

  @include clearfix();
  p {
    //opacity: 0.75;
  }
  cite {
    font-family: $sans-serif;
    font-size: .75em;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
    line-height: 1;
    //display: block;

    float: right;

    margin-top: .5em;
    //opacity: 0.75;

    text-transform: none;
    .titulus {
      font-family: $sans-serif;
      font-size: .75em;
      font-weight: 400;
      font-variant: normal;

      display: block;
      //font-style: italic;
    }
    &:before {
      display: block;

      width: 1em;
      height: 2px;
      margin: 0 0 .333em;

      content: '';

      background-color: rgba(white,.2);
    }
  }
}

.refsingle__shareblock {
  text-align: center;

  color: white;
  border-top: 10px solid rgba($secondary-color,.2);
  background-color: $gray-main;
  // @include bp($s2){
  // 	background-image: linear-gradient(to right, transparent 0, transparent 50%, $gray-main 50% );
  // }
  // .wrapper {
  // 	@include bp($s2){
  // 	  background-image: linear-gradient(to right, transparent 0, transparent 50%, $gray-main 50% );
  // 	}
  // }
}

.shareblock__nav {
  font-family: $sans-serif;
  font-size: .875em;

  padding: 4em 0 0;

  text-align: center;
  //font-weight: 700;
  //text-transform: uppercase;
  text-align: center;

  color: rgba(white,.333);
  .nav-tabs {
    margin: 0;
    padding: 0;
    li {
      position: relative;

      display: inline;

      padding: 0 .5em;

      list-style-type: none;
      &.active {
        > a {
          color: rgba(white,.333);
        }
      }
      > a {
        text-decoration: none;

        color: rgba(white,.25);
        &:hover {
          color: rgba(white,.5);
        }
      }
      &:before {
        position: absolute;
        top: .5em;
        left: -.25em;

        display: inline-block;

        width: .333em;
        height: .333em;

        content: '';

        background-color: $secondary-color;
      }
      &:first-child:before {
        display: none;
      }
    }
  }
}
.refsingle__share {
  padding: 0 0 4em;
  .blocktitle {
    font-size: 1.5em;
    //margin-bottom: 1em;
  }
  .btn {
    font-size: 1em;

    display: none;

    margin-right: .75em;
  }
}

.refsingle__contactopener {
  padding: 0 0 4em;

  background-color: $gray-main;
  // @include bp($s2) {
  // 	margin:0;
  // 	width:50%;
  // 	float:right;
  // 	padding:2em 2em 4em 1em;
  // 	background-color: transparent;
  // }
  .blocktitle {
    font-size: 1.5em;
  }
  .btn {
    font-size: 1em;

    margin-right: .75em;
  }
}



.refnav {
  padding: 4em 0;

  @include clearfix();
}


.refnav__blocktitle {
  font-family: $sans-serif;
  font-size: 2em;

  margin: 0 0 2em;

  text-align: center;
  span {
    font-family: $serif;
    font-size: .666em;

    display: block;
  }
}

.refnav__item {
  @include clearfix();
  //background-color: $gray-main;
  //color:white;
}

.refnav__header {
  color: white;

  @include bp($s2) {
    float: right;

    width: 50%;
    //padding:1em 1em;
  }
  .teteje {
    //border-radius: 0 0 0 0;
    padding: 2em 2em 1.5em;

    background-color: $secondary-color;

    @include clearfix();
  }
  .alja {
    //border-radius: 0 0 0 0;
    padding: 1em 2em 2em 2em;

    border-top: 10px solid rgba(orange,.2);
    background-color: $gray-main ;

    @include clearfix();
  }
}

.refnav__figure {
  @include bp($s2) {
    float: left;

    width: 50%;
    padding: 1em 2em;
  }
}

.refnav__summary {
  //font-family: $sans-serif;
  font-size: .875em;

  margin: .5em 0 1em;
}
.refnav__subtitle {
  font-size: 1em;

  margin: 0 0;

  color: rgba(white,.333);
}

.refnav__title {
  font-family: $sans-serif;
  font-size: 1.25em;
  line-height: 1;

  margin: .25em 0 .5em;

  text-transform: uppercase;
  a {
    text-decoration: none;

    color: inherit;
  }
}

.refnav__actions {
  //background-color: $gray-main;
  //padding:2em 0;
  .btn {
    font-size: .75em;
  }
}
.backtoallref {
  font-family: $sans-serif;
  font-size: .666em;

  display: inline-block;

  margin-top: 1.5em;

  text-decoration: none;

  color: rgba(black,.5);
}
