.reflist {
  background-color: #fff;

  @include clearfix();
}
.refarchive__hero {
  background-color: #7b1fa2;
  background-color: $gray-main;
  //color:$gray-main;
}


.refrow {
  position: relative;

  overflow: hidden;

  color: white;
  border-top: 10px solid rgba(255,255,255,.2);
  //border-bottom:1.5vw solid white;
  background-color: rgba($gray-main, 1);

  .wrapper {
    position: relative;

    @include bp($s2) {
      //height: 66.666vh;
      min-height: 25em;
      max-height: 25em;
    }
    @include bp($s3) {
      //height: 66.666vh;
      min-height: 28em;
      max-height: 28em;
    }
  }
}

.refrow__figure {
  position: relative;

  overflow: hidden;

  margin: 2em auto 1em;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 95%;

  backface-visibility: hidden;
  //margin-top: -2em;
  //z-index: -1;
  @include bp($s2) {
    position: absolute;
    top: 0;
    left: 50%;

    width: 50%;
    height: 100%;
    margin: 0;

    //transform: translate(0, -50%);
    
   
    .reference:nth-of-type(2n) & {
      left: 0;
    }
    a img {
      visibility: hidden;
    }
  }
  @include bp($s4) {
  }
  a {
    position: relative;

    display: block;
    overflow: hidden;

    padding: 0 0 0;

    text-align: center;

    backface-visibility: hidden;
    @include bp($s2) {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
    img {
      width: auto;
      max-width: 18em;
      //max-width: 90%;
      max-height: 15em;
      //width:100%;
      //display: block;
    }
  }
}


.refrow__header {
  position: relative;
  z-index: 1;

  padding: 0 0 3em;

  text-align: left;

  @include clearfix();
  @include bp($s2) {
    //font-size: 1.125em;   
  }
  @include bp($s2) {
    position: absolute;
    top: 50%;
    left: 0;

    width: 55%;
    padding: 3em 2em 3em 2em;

    transform: translate(0, -50%);
    .reference:nth-of-type(2n) & {
      left: 45%;

      padding: 3em 2em 3em 2em;
    }
  }
  @include bp($s4) {
    //font-size: 0.875em;
    padding: 4em 3em 4em 3em;
  }
  @include bp($s5) {
  }
  .innerwrap {
    max-width: 32em;
    margin: 0 auto;

    @include bp($s3) {
      max-width: none;
    }
  }
}

.refrow__title {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1;

  position: relative;

  margin: 0 0 .125em;

  color: rgba(255,255,255,.75);
  .refsingle & {
    font-size: 1.666em;
  }
  a {
    text-decoration: none;

    color: inherit;
    &:hover,
    &:focus {
      //color:gray;
      //text-decoration: underline;
      color: rgba(255,255,255,1);
    }
  }
}

.refrow__subtitle {
  font-family: $headingfont;
  font-size: 2.5em;
  font-weight: 900;
  line-height: 1;
  display: inline-block;


  margin: 0 0 0 0;
  padding-bottom: 0.25em;
  border-bottom: 1px solid rgba(#fff,.125);

  text-transform: uppercase;
  .refsingle & {
    font-size: 3em;
  }
  a {
    text-decoration: none;

    color: inherit;
    //color: rgba(255,255,255,0.75);
    &:hover,
    &:focus {
      //color:gray;
      //text-decoration: underline;
      color: rgba(255,255,255,.75);
    }
  }
}

.refrow__tags {
  font-family: $sans-serif;
  font-size: .75em;
  //text-transform: uppercase;
  font-weight: bold;
  line-height: 1.25;

  margin: .25em 0 0 0;

  color: rgba(255,255,255,.75);
  //font-style: italic;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;

      margin: 0;
      padding: 0;

      list-style-type: none;
      &:before {
        content: '\b7\a0';
        //font-style: normal;
      }
      &:first-of-type {
        &:before {
          content: '';
        }
      }
    }
  }
}

.refrow__summary {
  margin: .75em 0;
  //padding-top: .5em;

  //border-top: 10px solid rgba(#fff,.125);
  .refisngle & {
    font-size: 1em;
  }
}
.refrow__actions {
  margin: 1.5em 0;
  //text-align: left;
  .btn--pseudo {
    font-size: .75em;

    margin: .25em 0 0 0;
    .refsingle & {
      font-size: 1em;
    }
  }
}



.refrow__tags__title {
  font-size: 1em;

  position: relative;

  margin: .75em 0;
  &:after {
    display: block;

    width: 2em;
    height: 1px;
    margin: .75em auto 0 auto;

    content: '';

    background-color: black;
  }
}


/************** Reference Single Style Definitions ****************/

.refsingle {
  .refrow {
    border-top: none;
    //overflow: visible;
    border-bottom:10px solid rgba(#fff,0.2);


    
    // &:after {
    //   position: absolute;
    //   content: '';
    //   left: calc( 50% - 1em);
    //   bottom:calc(-7px - 1em);
    //   width:2em;
    //   height:2em;
    //   background-color: $secondary-color;
    //   transform: rotate(45deg);
    //   border:10px solid rgba(#fff,0.2);
    //   border-left: none;
    //   border-top:none;
    // }
    .wrapper {
      @include bp($s2) {
        min-height: 35em;
        max-height: 35em;
      }
      @include bp($s4) {
        //height: 100vh;
        //max-height: 100vh;
        min-height: 35em;
        max-height: 40em;
      }
    }
  }

  .refrow__figure {
    background-position: left center;
    background-size: auto 90%;
  }
  .refrow__subtitle {
    border-bottom: 10px solid rgba(#fff,0.2);
    padding-bottom: 0.125em;
  }
}

.refsingle__header {
  @include clearfix();
}

.refsingle__tasks {
  margin-top: 0.75em;
  //padding-top: 0.25em;
  //border-top: 10px solid rgba(#fff,0.2);
}

.tasks__subtitle {
  font-family: $sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  display: none;

  margin: 0;

  opacity: .75;
}

.tasks__elements {
  font-family: $sans-serif;
  font-size: 1em;
  //text-transform: uppercase;
  font-weight: 900;

  margin: .5em 0 1.5em;
  padding: 0;
  //font-style: italic;

  color: rgba(255,255,255,.75);
  li {
    display: inline-block;

    margin: .125em .75em .125em 0;

    list-style-type: none;
    .ion {
      font-size: 1em;
      line-height: 1.666;

      box-sizing: border-box;
      width: 1.666em;
      height: 1.666em;
      margin-right: .25em;
      padding-top: 1px;
      padding-left: 1px;

      text-align: center;

      color: rgba(white,.75);
      border-radius: 50%;
      //line-height: 1.5;
      background-color: rgba(black,.125);
    }
  }
}

.refsingle__reallife {
  padding: 4em 0;
  text-align: center;
  //border-top: 10px solid rgba($secondary-color,0.333);
}

.refsingle__infoblock {
  color: white;
  border-top: 10px solid rgba(white, .333);
  background-color: rgba($gray-main,1);
  .wrapper {
    position: relative;
  }
  .inner {
    max-width: 32em;
    margin: 0 auto;

    @include bp($s2) {
      max-width: none;
      padding: 0 1em;
    }
    @include bp($s4) {
      padding: 0 2em;
    }
  }
  .btn {
    font-size: .875em;
  }
}

.infoblock__detailspanel {
  padding: 2em 0;

  @include bp($s2) {
    float: left;

    width: 66.666%;
    padding: 2em 1em 2.5em 0;
  }
}


.infoblock__textpanel {
  padding: 1.5em 0;

  text-align: left;

  @include bp($s2) {
    float: left;

    width: 33.333%;
    padding: 2em 0 2.5em 1em;
  }
  .blocktitle {
    font-size: 1.5em;

    margin-top: .333em;
    margin-bottom: .5em;
  }
  .uglybuttons {
    margin: 0 0 0 -15px;
  }
}

.infoblock__harmadik {
  padding: 2em 0;

  @include bp($s3) {
    float: left;

    width: 33.333%;
    padding: 2em 0;
  }
}


.refsingle__quoteblock {
  margin: 0 0;
  padding: 4em 0 3em;

  color: white;
  background-color: $secondary-color;
  .quotefigure {
    text-align: center;
    margin-bottom: 1em;    
    @include bp($s2) {
      float:left;
      width:12em;
      margin-right: 1em;

    }
    img {
      display: inline-block;
      border-radius: 50%;
      margin-bottom: 0.333em;
    }
    .name {
      font-family: $sans-serif;
      font-size: .666em;
      font-weight: 300;
      font-style: normal;
      line-height: 1;
      text-transform: uppercase;
      opacity: .75;
      margin-bottom: 0.25em;

      display: block;
    }
    .titulus {
      display: block;
      font-family: $sans-serif;
      font-size: 0.666em;
      font-weight: 300;
      font-variant: normal;
      opacity: .75;
      line-height: 1;
    }
  }
}


.refsingle__quote {
  position: relative;
  font-family: $sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.25;

  position: relative;

  margin: 0;
  padding: 0;

  @include clearfix();

  &:before {
    content: '“';
    position: absolute;
    display: inline-block;
    left:0;
    top:-0.4em;
    font-size: 6em;
    line-height: 1;
    font-family: $serif;
    opacity: 0.333;
  }
  @include bp($s2){
    float:left;
    width: calc( 100% - 13em );
  }
  p {
    opacity: .75;
    //color:$secondary-color;
    //text-align: center;
    margin:0.5em 0;
  }
  cite {
    font-family: $sans-serif;
    font-size: .75em;
    font-weight: bold;
    font-style: normal;
    //font-variant: small-caps;
    line-height: 1;
    //display: block;

    float: right;

    margin-top: .5em;
    //opacity: 0.75;

    text-transform: none;
    .titulus {
      font-family: $serif;
      font-size: 1em;
      font-weight: normal;
      font-variant: normal;

      display: block;
      //font-style: italic;
    }
    &:before {
      display: block;

      width: 1em;
      height: 2px;
      margin: 0 0 .333em;

      content: '';

      background-color: rgba(white,.2);
    }
  }


}

.refsingle__shareblock {
  text-align: center;

  color: white;
  border-top: 10px solid rgba($secondary-color,.2);
  background-color: $gray-main;
  // @include bp($s2){
  //  background-image: linear-gradient(to right, transparent 0, transparent 50%, $gray-main 50% );
  // }
  // .wrapper {
  //  @include bp($s2){
  //    background-image: linear-gradient(to right, transparent 0, transparent 50%, $gray-main 50% );
  //  }
  // }
}

.shareblock__nav {
  font-family: $sans-serif;
  font-size: .875em;

  padding: 4em 0 0;

  text-align: center;
  //font-weight: 300;
  //text-transform: uppercase;
  text-align: center;

  color: rgba(white,.333);
  .nav-tabs {
    margin: 0;
    padding: 0;
    li {
      position: relative;

      display: inline;

      padding: 0 .5em;

      list-style-type: none;
      &.active {
        > a {
          color: rgba(white,.333);
        }
      }
      > a {
        text-decoration: none;
        font-weight:300;

        color: rgba(white,.25);
        &:hover {
          color: rgba(white,.5);
        }
      }
      &:before {
        position: absolute;
        top: .5em;
        left: -.25em;

        display: inline-block;

        width: .333em;
        height: .333em;

        content: '';

        background-color: $secondary-color;
      }
      &:first-child:before {
        display: none;
      }
    }
  }
}
.refsingle__share {
  padding: 0 0 4em;
  .blocktitle {
    font-size: 1.5em;
    //margin-bottom: 1em;
  }
  .btn {
    font-size: 1em;

    display: none;

    margin-right: .75em;
  }
}

.refsingle__contactopener {
  padding: 0 0 4em;

  background-color: $gray-main;
  // @include bp($s2) {
  //  margin:0;
  //  width:50%;
  //  float:right;
  //  padding:2em 2em 4em 1em;
  //  background-color: transparent;
  // }
  .blocktitle {
    font-size: 1.5em;
  }
  .btn {
    font-size: 1em;

    margin-right: .75em;
  }
}



.refnav {
  padding: 4em 0;

  @include clearfix();
}


.refnav__blocktitle {
  font-family: $sans-serif;
  font-size: 2em;
  font-weight:900;

  margin: 0 0 2em;

  text-align: center;
  span {
    font-family: $serif;
    font-size: .666em;
    font-weight: 700;

    display: block;
  }
}

.refnav__item {
  @include clearfix();
  //background-color: $gray-main;
  //color:white;
}

.refnav__header {
  color: white;

  @include bp($s2) {
    float: right;

    width: 50%;
    //padding:1em 1em;
  }
  .teteje {
    //border-radius: 0 0 0 0;
    padding: 2em 2em 1.5em;

    background-color: $secondary-color;

    @include clearfix();
  }
  .alja {
    //border-radius: 0 0 0 0;
    padding: 1em 2em 2em 2em;

    border-top: 10px solid rgba(orange,.2);
    background-color: $gray-main ;

    @include clearfix();
  }
}

.refnav__figure {
  @include bp($s2) {
    float: left;

    width: 50%;
    padding: 1em 2em;
  }
}

.refnav__summary {
  //font-family: $sans-serif;
  font-size: .875em;

  margin: .5em 0 1em;
}
.refnav__subtitle {
  font-size: 1em;

  margin: 0 0;

  color: rgba(white,.333);
}

.refnav__title {
  font-family: $sans-serif;
  font-size: 1.25em;
  font-weight:900;
  line-height: 1;

  margin: .25em 0 .5em;

  text-transform: uppercase;
  a {
    text-decoration: none;

    color: inherit;
  }
}

.refnav__actions {
  //background-color: $gray-main;
  //padding:2em 0;
  .btn {
    font-size: .75em;
  }
}
.backtoallref {
  font-family: $sans-serif;
  font-size: .666em;

  display: inline-block;

  margin-top: 1.5em;

  text-decoration: none;

  color: rgba(black,.5);
}
