.niceheading__preinfo {
	animation-duration: 1s;
	animation-delay: .25s;
}

.niceheading__title {
	animation-duration: 1s;
	animation-delay: .5s;
}

.niceheading__disclaimer {
	animation-duration: 1s;
	animation-delay: .75s;
}

.readmore {
		animation-duration: .5s;
		animation-delay: 1.5s;	
	}

hr {
	animation-duration: 1s;
	animation-delay: 1.25s;	
}

.singlepost__content {
	animation-duration: 1s;
	animation-delay: .75s;	
}

.archiveentry, .storyitem, .allwedo, .reflist {
	animation-duration: 1s;
	animation-delay: .75s;	
}