.page__content, .single__content, .refsingle__content {
	color:$textcolor;
	a {
		color: $secondary-color;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		&:hover, &:focus {
			border-bottom: 1px solid $secondary-color;
		}
	}
	
	h1,h2,h3,h4,h5,h6 {
		font-family: $sans-serif;
		line-height: 1.2;
		margin:2em 0 0;
		color: $textcolor-light;
		&:before {
			display: inline-block;
			content: '';
			height:0.8em;
			width:0.8em;
			margin-right: 0.25em;
			background-color: $secondary-color;	
		}
		+ p {
			//text-indent: 1.5em;
		}
	}
	
	p {
		
	}

	ul {
		margin: 1.25em 0;
		padding-left: 2.5em;
		li {
			list-style-type: square;
			padding-left: 0;
			margin:0.5em 0;
		}
	}
	ol {
		li {

		}
	}



	blockquote {
		font-size: 1.25em;
		line-height: 1.2;
		font-family: $sans-serif;
		//font-style: italic;
		color:$textcolor-light;
		margin:1.5em 0;
		padding:1.333em 1.25em;

		border:2px solid $secondary-color;
		border-left: none;
		border-right: none;
		> p {
				&:first-child {
					margin-top: 0;
				}
				&:first-child {
					margin-bottom: 0;
				}
				
		}
	}
}



.inverseblock {
	@include clearfix();
	background-color: $secondary-color;
	color:white;
	padding:1em 0;
	margin:1.5em -1em;
	
	.wp-caption-text {
		color:rgba(white,0.75);
		&:before {
			background-color: rgba(white,0.75);
		}
	}


	@include bp($s1) {
		margin-right: 0;
		margin-left: 0;
		
		width:100vw;

		margin-left:calc( 50% - 50vw) ;
		
	}
}


.wp-caption {
	@include clearfix();
	margin:1em 0;

	img {
		display: block;
	}
	&.alignnone {
		margin-left:-1em;
		margin-right: -1em;
		
		@include bp($s1) {
			margin-right:0;
			margin-left: 0;
			width:100vw;
			margin-left:calc( 50% - 50vw) ;
		}
		@include bp($s3) {
			width:126%;
			margin-left: -13%;
			margin-right: 0;
		}
		@include bp($s4) {
			width:150%;
			margin-left: -25%;
		}
	}
	&.alignleft, &.alignright {
		@include bp($s4) {
			width:127.5%;
			img {
				width:77.5%;
				float:left;
			}
			.wp-caption-text {
				width:22.5%;
				float:right;
				padding:0 1em;
				text-align: left;
				&:before {
					display: block;
					content: '';
					width:1.25em;
					height:2px;
					margin: 0 0 1em;
					background-color: $textcolor-light;
				} 
			}
		}
	}
	&.alignright {
		@include bp($s4) {
			margin-left: -32.333%;
			img {
				float:right;
			}
			.wp-caption-text {
				float:left;
				text-align: right;
				&:before {
					float:right;
				}
			}

		}
	}
	&.aligncenter {

	}
}
.wp-caption-text {
	font-family: $sans-serif;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	color:$textcolor-light;
	//font-style: italic;
	padding: 1em 1em;



}


.fb-like {
	//transform:scale(1.5);
	//filter:grayscale(1);
}

.uglybuttons {
	@include clearfix();
	margin:0 auto 1em;
	padding:0;
	width:224px;
	padding:6px 12px;
	//background-color: green;





	li {
		@include clearfix();
		position: relative;
		//min-height: 30px;
		width: 33.333%;
		height: 29px;
		display: block;
		float:left;
		text-align: center;
		margin:0;
		padding:0;
	
		&.twitter {
			> * {
				bottom:5px;
				right:3px;
			}
		}
		&.gplus {
			> * {
				bottom:1px;
				left:12px;
			}

		}

		&.face {
			> * {
				bottom:5px;
				left:3px;	
			}

		}

		> * {
			display:inline-block;
			position: absolute;
		  bottom: 5px;
		  //left:3px;
		  //transform: translateY(-10px);
		}
	}
}

